<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>731253013</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"BYZ-38-t0r"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Design+Code2.0/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Failed to render and update auto layout status for ViewController (BYZ-38-t0r): Failed to launch designables agent because tool was shutting down. Check the console for a more detailed description and please file a bug report at feedbackassistant.apple.com.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>731253013</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"BYZ-38-t0r"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Design+Code2.0/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Failed to render and update auto layout status for ViewController (BYZ-38-t0r): Failed to launch designables agent because tool was shutting down. Check the console for a more detailed description and please file a bug report at feedbackassistant.apple.com.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
